.hgfhfv {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding: 12px 0px;
    background-color: rgb(225, 243, 247);
    overflow: hidden;
}
.jinIky {
    position: relative;
    width: 100%;
    background: rgb(240, 245, 248);
}

@media (max-width: 812px) {
    .idmYrJ {
        top: 22px;
        margin: 0px 16px;
        height: 8px;
        width: calc(100% - 32px);
        background-size: cover;
    }
}
@media (max-width: 1024px) {
    .idmYrJ {
        margin: 0px 20px;
        width: calc(100% - 40px);
    }
}
.idmYrJ {
    position: relative;
    top: 38px;
    margin: 0px auto;
    width: 97%;
    max-width: 1326px;
    height: 17px;
    background: url(/static/media/seo-panel-bg.f1e490dd.svg) center center no-repeat;
}

@media (max-width: 480px) {
    .dBQpYg {
        margin: 0px 10px 0px 0px;
    }
}
@media (max-width: 1024px) {
    .dBQpYg {
        margin: 0px 20px 0px 0px;
    }
}
.dBQpYg {
    position: relative;
    margin: 0px 8.5%;
    overflow-wrap: break-word;
}

@media (max-width: 812px) {
    .ffxCYZ {
        margin-bottom: 24px;
    }
}
.ffxCYZ {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    background-color: rgb(225, 243, 247);
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.cKYrJw {
    display: inline-flex;
    z-index: 2;
    position: relative;
}
.fMJngt {
    cursor: pointer;
    height: 32px;
    width: 32px;
    padding: 2px;
}
.bboFTt {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 2px;
    transition: width 1s ease-in-out 0s;
    position: relative;
    right: 100%;
    z-index: 1;
    opacity: 0;
}
.bRflGh {
    cursor: pointer;
    list-style-type: none;
    display: inline-flex;
}
@media (max-width: 812px) {
    .gNPqSq {
        position: fixed;
        left: 0px;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        padding: 0 0 calc(env(safe-area-inset-bottom) + 3px);
        border-top: 1px solid rgba(27, 163, 196, 0.5);
        background: rgb(255, 255, 255);
        z-index: 20;
    }
}
.dmGHwz {
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    min-height: 25px;
    font-size: 15px;
    line-height: 21px;
    flex-basis: 25%;
    margin: 0px;
    height: 44px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 0px 5px 2px;
}
.epIObd {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 228px;
    height: 230px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 17px;
}@media (max-width: 812px) {
    .cblbvX {
        max-width: 140px;
    }
}
.cblbvX {
    position: absolute;
    display: block;
}
.evAvpl {
    display: grid;
    width: 100%;
    -webkit-box-pack: start;
    justify-content: start;
    grid-template-columns: auto auto;
}
.gaOKhM {
    position: relative;
}
.evAvpl svg {
    width: 20px;
    height: 15px;
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
}
.gvLUQm {
    position: static;
}
@media (max-width: 812px) {
    .bfTISZ {
        font-size: 7px;
    }
}
.bfTISZ {
    margin-right: 6px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: rgb(27, 163, 195);
    margin-top: 15px;
}
@media (max-width: 480px) {
    .XogRq {
        max-height: 140px;
    }
}
@media (max-width: 812px) {
    .XogRq {
        width: calc(100% - 32px);
        max-height: 200px;
        margin: 46px auto 28px;
    }
}
@media (max-width: 1024px) {
    .XogRq {
        margin-top: 70px;
        width: calc(100% - 40px);
    }
}
.XogRq {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 93px auto 48px;
    padding: 0px;
    max-height: 276px;
    width: 89%;
    max-width: 1222px;
    overflow-y: scroll;
}
@media (max-width: 480px) {
    .dBQpYg {
        margin: 0px 10px 0px 0px;
    }
}
@media (max-width: 1024px) {
    .dBQpYg {
        margin: 0px 20px 0px 0px;
    }
}
.dBQpYg {
    position: relative;
    margin: 0px 8.5%;
    overflow-wrap: break-word;
}